.paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.span {
  font-size: 18px;
  font-weight: 600;
  align-items: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.h1 {
  margin-top: 24px;
  font-size: 32px;
}

.image {
  margin-top: 32px;
}

.date {
  font-size: 20px;
}
